<div class="post">
    <a href='/posts/{{this.id}}'><img class="post-image" src='/{{this.thumbnail}}' alt="thumbnail"></a>
    <a class="profile-video-card" href='/posts/{{this.id}}'>
        <div class="video-info">
            <div class="delete-button">
                <div class="profile-post-title">{{this.title}}</div>
                <form class="delete-video-form" id="delete-vid-form" action='/posts/delete/{{this.id}}' method="post"
                        enctype="application/x-www-form-urlencoded">
                    <input class="delete-post-button" type="submit" value="Delete" />
                </form>
            </div>
            <div class="profile-post-description">{{this.description}}</div>
            <div class="profile-post-date">{{formatDateString this.createdAt}}</div>
        </div>
    </a>
</div>